.card-container {
  margin: 40px 50px;
  width: 300px;
  height: 550px; /* Fixed height for consistency */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out;
}

.card-container:hover {
  border: 1.5px solid hwb(0 0% 100% / 0.304);
}

.card-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.card-img {
  height: 280px; /* Fixed height for image container */
  width: 300px;
  overflow: hidden; /* Hide overflow if image is too large */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img img {
  width: 280px; /* Set to 100% to make it take the full width of the container */
  max-height: auto; /* Keep the max height for consistency */
  padding: 5px;
  object-fit: contain; /* Maintain aspect ratio */
  object-fit: fill;
}

.card-description {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex-grow: 1; /* Allow description to take available space */
  margin-top: 30px; /* Space for the button */
}

.card-title {
  margin: 10px 0;
}

.card-title h3 {
  font-weight: 600;
  margin: 0;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.card-price {
  font-size: 14px;
  margin: 5px 0;
}

.card-price p {
  margin: 0;
}

.card-button {
  width: 100%;
  position: absolute; /* Absolute positioning */
  bottom: 0; /* Position at the very bottom */
  left: 0;
  height: 40px;
}

.card-button button {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    border 0.2s ease-in-out,
    color 0.2s ease-in-out;
  font-weight: 600;
}

.card-button button:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 34px;
  height: 34px;
  fill: transparent;
  stroke: white;
  stroke-width: 2px;
  border-radius: 50%;
  padding: 5px;
  transition: 0.2s ease-in-out;
}

.card-icon:hover .favorite-icon {
  fill: red;
  stroke: red;
}
