.card-container {
  margin: 40px 50px;
  width: 250px;
  height: 500px; /* Fixed height for consistency */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out;
}

.card-container:hover {
  border: 1.5px solid hwb(0 0% 100% / 0.304);
}

.card-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; /* Take full height */
  position: relative; /* Position relative for absolute positioning of children */
}

.card-img img {
  width: 260px;
  min-height: 280px;
  padding: 5px;
  object-fit: cover;
}

.card-description {
  padding: 0 5px;
}

.card-title {
  margin: 10px 0;
}

.card-title h3 {
  font-weight: 600;
  margin: 0;
}

.card-price {
  font-size: 14px;
  margin: 5px 0;
}

.card-price p {
  margin: 0;
}

.card-button {
  width: 100%;
  position: absolute; /* Absolute positioning */
  bottom: 0; /* Position at the very bottom */
  left: 0;
}

.card-button button {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
  font-weight: 600;
}

.card-button button:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 34px;
  height: 34px;
  fill: transparent;
  stroke: white;
  stroke-width: 2px;
  border-radius: 50%;
  padding: 5px;
  transition: 0.2s ease-in-out;
}

.card-icon:hover .favorite-icon {
  fill: red;
  stroke: red;
}